.slider {
    position: relative;
    // overflow: hidden;
    // & > div {
    //     & > div {
    //         gap: 10px;
    //     }
    // }
    &__wrapper {
        height: 100vh;
        padding: 10px;
    }
    &__card {
        position: absolute;
        top: 0;
        left: 0;
    }
}