.form {
    &__img {
        width: 100%;
        position: relative;
        flex-grow: 1;
        height: 200px;
        border-radius: 8px;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__imgInput {
        position: relative;
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    &__imgElem {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}